<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Show Page</title>
</head>
<body>
  <h1 class="text-center">Person Info</h1>
  <div class="container">
    <div class="d-flex justify-content-center">
     <div class="row">
        <div class="table">
          <table>
            <thead>
              <tr>
                <th scope='col'>First Name</th>
                <th scope='col'>Last Name</th>
                <th scope='col'>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> <%= @user.firstname %> </td>
                <td> <%= @user.lastname %> </td>
                <td> <%= @user.email %> </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center">
        <%= link_to 'Add Another', new_user_path, class: 'btn btn-outline-secondary ml-3'%>
        <%= link_to 'Edit Record', edit_user_path(@user), class: 'btn btn-outline-secondary ml-3' %>
      </div>
    </div>
  </div>

</body>
</html>